body{
    background-color: #ffe6d0;
}

.filterBlock{
    padding-left: 4%;
    padding-top: 4%;
    padding-bottom: 7%;
    background: #ffe6d0;
}

.filter{
    display: inline-block;
    position: relative;
}

.filter button{
  background-color: #ffe6d0; 
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  width: 200px;
  text-align: left;
}

.filter a{
    display: block;
    width: 150px;
    text-align: left;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding-left: 5%;
}

.filter .menu{
    display: none;
    position: absolute;
}

.filter:hover button{
    font-weight: bold;
}

.filter:hover .menu{
    display: block;
}
